.signle-service {
    margin-top: 30px;
  }
  
  .signle-service figcaption {
    background: #fff;
    padding: 40px 20px;
  }
  
  .signle-service figcaption h5 {
    margin-bottom: 15px;
  }
  
  .signle-service figcaption p {
    margin-bottom: 30px;
  }
  