.section-full {
    padding: 150px 0;
  }

  
.studio-area {
    position: relative;
  }
  
  .studio-area .container {
    position: relative;
    z-index: 3;
  }
  
  .studio-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #404598;
    z-index: 2;
  }
  
  @media (max-width: 991px) {
    .studio-area:before {
      background: rgba(64, 69, 152, 0.95);
      width: 100%;
    }
  }
  
  .studio-area:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: url(img/breakmabarak.jpg) no-repeat center center/cover;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    .studio-area:after {
      width: 100%;
    }
  }